<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable">
<head>

    <meta charset="utf-8" />
    <title>Modification de votre mot de passe | Module de gestion de courriers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="Gestion des tickets" name="description" />
    <meta content="BRAIN IT" name="author" />
    <link rel="shortcut icon" th:href="@{/resources/images/favicon.ico}" />
    <script th:src="@{/resources/js/layout.js}"></script>
    <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/resources/css/icons.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/resources/css/app.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/resources/css/custom.min.css}" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="auth-page-wrapper auth-bg-cover py-5 d-flex justify-content-center align-items-center min-vh-100">
        <div class="bg-overlay"></div>
        <div class="auth-page-content overflow-hidden pt-lg-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card overflow-hidden">
                            <div class="row g-0">
                                <div class="col-lg-6">
                                    <div class="p-lg-5 p-4 auth-one-bg h-100">
                                        <div class="bg-overlay"></div>
                                        <div class="position-relative h-100 d-flex flex-column">
                                            <div class="mb-4" style="text-align: center; margin-top: 100px;">
                                                <img th:src="@{/resources/images/logo-saz_rfivi5.png}" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end col -->

                                <div class="col-lg-6">
                                    <div class="p-lg-5 p-4">
                                        <div style="text-align: center">
                                        	
                                        </div>

                                        <div class="mt-4">
                                        	<form th:action="@{/changepassword/}+${token}" method="post">
										        <div class="alert alert-danger" role="alert" th:if="${error}" th:text="#{home.change.password.changed.error}"></div>
										        <div class="mb-3">
                                                    <label for="username" class="form-label">Identifiant</label>
                                                    <input type="text" class="form-control" id="username" name="login" th:value="${login}" th:disabled="${!#strings.isEmpty(login)}" />
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label" for="password-input">Ancien mot de passe</label>
                                                    <div class="position-relative auth-pass-inputgroup mb-3">
                                                        <input class="fakeInputPassword md-input form-control pe-5 password-input" placeholder="Entrez votre ancien mot de passe" id="password-input" type="password" name="password" />
                                                        <button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon" style="box-shadow: none" type="button" id="password-addon"><i class="ri-eye-fill align-middle"></i></button>
                                                    </div>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label" for="new-password-input">Nouveau mot de passe</label>
                                                    <div class="position-relative auth-pass-inputgroup mb-3">
                                                        <input class="md-input form-control pe-5 password-input" placeholder="Entrez votre nouveau mot de passe" id="new-password-input" type="password" name="nvPassword" />
                                                        <button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon" style="box-shadow: none" type="button" id="password-addon"><i class="ri-eye-fill align-middle"></i></button>
                                                    </div>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label" for="confirm-password-input">Confirmez votre mot de passe</label>
                                                    <div class="position-relative auth-pass-inputgroup mb-3">
                                                        <input class="md-input form-control pe-5 password-input" placeholder="Confirmez votre mot de passe" id="confirm-password-input" type="password" name="nvPasswordConfirmation" />
                                                        <button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon" style="box-shadow: none" type="button" id="password-addon"><i class="ri-eye-fill align-middle"></i></button>
                                                    </div>
                                                </div>
										        <input type="hidden" name="j_timeZone" id="j_timeZone" />
										        <div class="mt-4">
                                                    <button class="btn btn-success w-100" type="submit">MODIFIER</button>
                                                </div>

                                                <div class="mt-4 text-center">
                                                    <div class="signin-other-title">
                                                        <h5 class="fs-13 mb-4 title">Informations de votre compte</h5>
                                                    </div>

                                                    <div>
                                                        <p class="mb-0">En cas d'oubli de mot de passe ou d'échec de connexion, veuillez contacter votre administrateur.</p>
                                                    </div>
                                                </div>
										      </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- end col -->
                            </div>
                            <!-- end row -->
                        </div>
                        <!-- end card -->
                    </div>
                    <!-- end col -->

                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end auth page content -->

        <!-- footer -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <p class="mb-0">&copy;
                                <script>document.write(new Date().getFullYear())</script> FIXMANAGER. Tous droits réservés | Développé par <strong><a href="http://www.medasys.ma" target="_blank" style="color: #FFFFFF">MEDASYS</a></strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end Footer -->
    </div>
    <!-- end auth-page-wrapper -->

    <!-- JAVASCRIPT -->
    <script th:src="@{/resources/libs/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/resources/libs/simplebar/simplebar.min.js}"></script>
    <script th:src="@{/resources/libs/node-waves/waves.min.js}"></script>
    <script th:src="@{/resources/libs/feather-icons/feather.min.js}"></script>
    <script th:src="@{/resources/js/pages/plugins/lord-icon-2.1.0.js}"></script>

    <!-- password-addon init -->
    <script th:src="@{/resources/js/pages/password-addon.init.js}"></script>
</body>
</html>

